#background {
    height: 725px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('images/camping.jpg'), url('images/facebook.png'), url('images/fire_icon.png'), url('images/hero.png'), url('images/instagram.png'), url('images/logo.png'), url('images/mountains.jpg'), url('images/oars.png'), url('images/rapids.jpg'), url('images/river_icon.png'), url('images/rivers.jpg'), url('images/twitter.png');
    background-size: cover;
    background-position: center;
}


body {
    background-color: #ffffff; 
}

header {
    background-color: rgba(20, 30, 13, .7);
}

nav a:hover {
    background-color: black;
    color: #856740;
}

nav a {
    text-align: center;
    color: #573e3e;
    text-decoration: none;
}

.icon {
    width: 80px;
    margin: 10px;
}

.home-title {
    color: #000000; 
}

h4 {
    color: #000000; 
}

.book, .join {
    color: #4e08be; 
    text-decoration: none;
}

.book:hover, .join:hover {
    color: #000000; 
}

.msg h2 {
    color: #000000; 
}

.msg p {
    color: #000000; 
}

footer {
    color: #e6b1b1; 
}

footer a {
    color: #e6b1b1; 
    text-decoration: none;
}

footer a:hover {
    color: #e6b1b1;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
                  